<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="contentHandlers" name="Aggregator Media Handlers" schema="schema/contentHandlers.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="no.resheim.aggregator.core.ui.internal.preferences.AggregatorPreferencePage"
            id="no.resheim.aggregator.ui.preferences.general"
            name="Aggregator">
      </page>
      <page
            category="no.resheim.aggregator.ui.preferences.general"
            class="no.resheim.aggregator.core.ui.internal.preferences.UpdatingPreferencePage"
            id="no.resheim.aggregator.ui.preferences.update"
            name="Updating">
      </page>
      <page
            category="no.resheim.aggregator.ui.preferences.general"
            class="no.resheim.aggregator.core.ui.internal.preferences.ArchivingPreferencePage"
            id="no.resheim.aggregator.ui.preferences.archiving"
            name="Archiving">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="no.resheim.aggregator.core.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.AddFeedCommandHandler"
            description="Adds a new feed to the aggregator."
            id="no.resheim.aggregator.core.ui.addFeed"
            name="Add Feed">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.DeleteItemCommandHandler"
            id="no.resheim.aggregator.core.ui.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.FeedPropertiesCommandHandler"
            id="no.resheim.aggregator.core.ui.properties"
            name="Properties">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.AddFolderCommandHandler"
            id="no.resheim.aggregator.core.ui.newFolder"
            name="Add Folder">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.UpdateFeedCommandHandler"
            id="no.resheim.aggregator.core.ui.update"
            name="Update">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.SetReadCommandHandler"
            id="no.resheim.aggregator.core.ui.setRead"
            name="Mark As Read">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.RenameFolderCommand"
            id="no.resheim.aggregator.core.ui.renameFolder"
            name="Rename Folder">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.FeedCollectionSelectionHandler"
            id="no.resheim.aggregator.core.ui.selectCollection"
            name="Select Collection">
         <commandParameter
               id="collectionId"
               name="Collection Identifier"
               optional="false"
               typeId="no.resheim.aggregator.core.ui.collectionCommandParameterType"
               values="no.resheim.aggregator.core.ui.commands.CollectionSelectionParameterValues">
         </commandParameter>
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.MarkItemSelectionHandler"
            id="no.resheim.aggregator.core.ui.markItem"
            name="Mark Item">
         <commandParameter
               id="markId"
               name="Mark Type"
               optional="true"
               typeId="no.resheim.aggregator.core.ui.markItemCommandParameterType">
         </commandParameter>
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.CopyLinkLocationCommandHandler"
            id="no.resheim.aggregator.core.ui.copyLinkCommand"
            name="Copy Link Location">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.CollapseAllCommandHandler"
            id="no.resheim.aggregator.core.ui.collapseAll"
            name="Collapse All">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.EmptyTrashCommandHandler"
            id="no.resheim.aggregator.core.ui.emptyTrash"
            name="Empty Trash">
      </command>
      <commandParameterType
            converter="no.resheim.aggregator.core.ui.commands.CollectionParameterValueConverter"
            id="no.resheim.aggregator.core.ui.collectionCommandParameterType"
            type="no.resheim.aggregator.data.FeedCollection">
      </commandParameterType>
      <commandParameterType
            converter="no.resheim.aggregator.core.ui.commands.MarkItemParameterValueConverter"
            id="no.resheim.aggregator.core.ui.markItemCommandParameterType"
            type="no.resheim.aggregator.data.AggregatorItem.Mark">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="no.resheim.aggregator.core.ui.addFeed"
            disabledIcon="icons/dtool16/new_wiz.gif"
            icon="icons/etool16/new_wiz.gif">
      </image>
      <image
            commandId="no.resheim.aggregator.core.ui.update"
            disabledIcon="icons/dlcl16/nav_refresh.gif"
            icon="icons/clcl16/nav_refresh.gif">
      </image>
      <image
            commandId="no.resheim.aggregator.core.ui.newFolder"
            disabledIcon="icons/dtool16/newfolder_wiz.gif"
            icon="icons/etool16/newfolder_wiz.gif">
      </image>
      <image
            commandId="no.resheim.aggregator.core.ui.collapseAll"
            icon="icons/clcl16/collapse_all.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="no.resheim.aggregator.core.ui.KickStarter">
      </startup>
   </extension>
   <extension
         point="no.resheim.aggregator.core.ui.contentHandlers">
      <handler
            name="default">
         <code>
            &lt;body style=&quot;margin:4px;font-family:&apos;${font-family}&apos;;font-size:${font-size}pt&quot;&gt;${content}
&lt;/body&gt;
         </code>
         <type
               id="text/html">
         </type>
         <type
               id="text/plain">
         </type>
      </handler>
      <handler
            name="flash">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;OBJECT classid=&quot;clsid:D27CDB6E-AE6D-11cf-96B8-444553540000&quot; codebase=&quot;http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0&quot;
WIDTH=&quot;100%&quot; HEIGHT=&quot;100%&quot;&gt;&lt;PARAM NAME=movie VALUE=&quot;${content}&quot;&gt;&lt;PARAM NAME=quality VALUE=high&gt;&lt;PARAM NAME=bgcolor VALUE=#FFFFFF&gt;&lt;EMBED src=&quot;${content}&quot; quality=high bgcolor=#FFFFFF WIDTH=&quot;100%&quot; HEIGHT=&quot;100%&quot;
TYPE=&quot;application/x-shockwave-flash&quot;
PLUGINSPAGE=&quot;http://www.macromedia.com/go/getflashplayer&quot;&gt;&lt;/EMBED&gt;&lt;/OBJECT&gt;&lt;/body&gt;
         </code>
         <type
               id="application/x-shockwave-flash">
         </type>
      </handler>
   </extension>
</plugin>
