<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="contentHandlers" name="Aggregator Media Handlers" schema="schema/contentHandlers.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="no.resheim.aggregator.core.ui.internal.preferences.AggregatorPreferencePage"
            id="no.resheim.aggregator.ui.preferences.general"
            name="Aggregator">
      </page>
      <page
            category="no.resheim.aggregator.ui.preferences.general"
            class="no.resheim.aggregator.core.ui.internal.preferences.UpdatingPreferencePage"
            id="no.resheim.aggregator.ui.preferences.update"
            name="Updating">
      </page>
      <page
            category="no.resheim.aggregator.ui.preferences.general"
            class="no.resheim.aggregator.core.ui.internal.preferences.ArchivingPreferencePage"
            id="no.resheim.aggregator.ui.preferences.archiving"
            name="Archiving">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="no.resheim.aggregator.core.ui.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.AddFeedCommandHandler"
            description="Adds a new feed to the aggregator."
            id="no.resheim.aggregator.core.ui.addFeed"
            name="Add Feed">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.DeleteItemCommandHandler"
            id="no.resheim.aggregator.core.ui.delete"
            name="Delete">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.FeedPropertiesCommandHandler"
            id="no.resheim.aggregator.core.ui.properties"
            name="Properties">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.AddFolderCommandHandler"
            id="no.resheim.aggregator.core.ui.newFolder"
            name="Add Folder">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.UpdateFeedCommandHandler"
            id="no.resheim.aggregator.core.ui.update"
            name="Update">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.SetReadCommandHandler"
            id="no.resheim.aggregator.core.ui.setRead"
            name="Mark As Read">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.RenameFolderCommand"
            id="no.resheim.aggregator.core.ui.renameFolder"
            name="Rename Folder">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.FeedCollectionSelectionHandler"
            id="no.resheim.aggregator.core.ui.selectCollection"
            name="Select Collection">
         <commandParameter
               id="collectionId"
               name="Collection Identifier"
               optional="false"
               typeId="no.resheim.aggregator.core.ui.collectionCommandParameterType"
               values="no.resheim.aggregator.core.ui.commands.CollectionSelectionParameterValues">
         </commandParameter>
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.MarkItemSelectionHandler"
            id="no.resheim.aggregator.core.ui.markItem"
            name="Mark Item">
         <commandParameter
               id="markId"
               name="Mark Type"
               optional="true"
               typeId="no.resheim.aggregator.core.ui.markItemCommandParameterType">
         </commandParameter>
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.CopyLinkLocationCommandHandler"
            id="no.resheim.aggregator.core.ui.copyLinkCommand"
            name="Copy Link Location">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.CollapseAllCommandHandler"
            id="no.resheim.aggregator.core.ui.collapseAll"
            name="Collapse All">
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.EmptyTrashCommandHandler"
            id="no.resheim.aggregator.core.ui.emptyTrash"
            name="Empty Trash">
      </command>
      <commandParameterType
            converter="no.resheim.aggregator.core.ui.commands.CollectionParameterValueConverter"
            id="no.resheim.aggregator.core.ui.collectionCommandParameterType"
            type="no.resheim.aggregator.core.data.FeedCollection">
      </commandParameterType>
      <commandParameterType
            converter="no.resheim.aggregator.core.ui.commands.MarkItemParameterValueConverter"
            id="no.resheim.aggregator.core.ui.markItemCommandParameterType"
            type="no.resheim.aggregator.core.data.AggregatorItem.Mark">
      </commandParameterType>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.views.SetLayoutCommandHandler"
            id="no.resheim.aggregator.core.ui.setLayoutCommand"
            name="Set Layout">
         <commandParameter
               id="no.resheim.aggregator.core.ui.layoutCommandParameter"
               name="layout"
               optional="false">
         </commandParameter>
      </command>
      <command
            defaultHandler="no.resheim.aggregator.core.ui.commands.FilterPropertiesCommandHandler"
            id="no.resheim.aggregator.core.ui.openFilterProperties"
            name="Filters">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="no.resheim.aggregator.core.ui.addFeed"
            disabledIcon="icons/dtool16/new_wiz.gif"
            icon="icons/etool16/new_wiz.gif">
      </image>
      <image
            commandId="no.resheim.aggregator.core.ui.update"
            disabledIcon="icons/dlcl16/nav_refresh.gif"
            icon="icons/clcl16/nav_refresh.gif">
      </image>
      <image
            commandId="no.resheim.aggregator.core.ui.newFolder"
            disabledIcon="icons/dtool16/newfolder_wiz.gif"
            icon="icons/etool16/newfolder_wiz.gif">
      </image>
      <image
            commandId="no.resheim.aggregator.core.ui.collapseAll"
            icon="icons/clcl16/collapse_all.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="no.resheim.aggregator.core.ui.KickStarter">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="no.resheim.aggregator.core.ui.views.RSSView"
            fastViewWidthRatio="0.5"
            icon="icons/clcl16/view.gif"
            id="no.resheim.aggregator.core.ui.RSSView"
            name="Feeds"
            restorable="true">
         <description>
            description body text
         </description>
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="no.resheim.aggregator.core.ui.views.NextUnreadItemCommandHandler"
            id="no.resheim.aggregator.ui.nextUnread"
            name="Next Unread">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="no.resheim.aggregator.ui.context"
            name="Aggregator View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="no.resheim.aggregator.ui.nextUnread"
            contextId="no.resheim.aggregator.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+.">
      </key>
      <key
            commandId="no.resheim.aggregator.core.ui.delete"
            contextId="no.resheim.aggregator.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:no.resheim.aggregator.core.ui.RSSView?before=navigation">
         <command
               commandId="no.resheim.aggregator.core.ui.addFeed"
               label="New Feed..."
               style="push">
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.newFolder"
               label="New Folder">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.core.ui.RSSView?after=navigation">
         <command
               commandId="no.resheim.aggregator.ui.nextUnread"
               label="Next Unread">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.core.ui.RSSView?after=modify">
         <command
               commandId="no.resheim.aggregator.core.ui.renameFolder"
               label="Rename">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.delete"
               label="Delete">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.emptyTrash"
               label="Empty Trash">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.update"
               label="Update">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.setRead"
               label="Mark As Read">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <menu
               label="Mark As">
            <dynamic
                  class="no.resheim.aggregator.core.ui.commands.MarkItemMenu"
                  id="no.resheim.aggregator.ui.markAsMenu">
            </dynamic>
         </menu>
         <command
               commandId="no.resheim.aggregator.core.ui.copyLinkCommand"
               label="Copy Link Location"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="properties"
               visible="true">
         </separator>
         <command
               commandId="no.resheim.aggregator.core.ui.properties"
               label="Properties">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="no.resheim.aggregator.core.feeds">
      <collection
            default="true"
            id="no.resheim.aggregator.ui.defaultFeedCollection"
            name="Default"
            public="true"
            persistent="true">
      </collection>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Linux Journal"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://www.linuxjournal.com/node/feed">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="AVR Freaks Forums"
            updateInterval="10"
            updatePeriod="MINUTES"
            url="http://www.avrfreaks.net/forumrss.php">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Resheim Software News"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://resheim.no/news/RSS">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Planet Eclipse Blogs"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://planeteclipse.org/planet/rss20.xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="SlashDot"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://rss.slashdot.org/Slashdot/slashdot">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="ECF Developer Mailing List"
            updateInterval="5"
            updatePeriod="MINUTES"
            url="http://dev.eclipse.org/mhonarc/lists/ecf-dev/maillist.rss">
      </feed>
      <!-- GENERAL COMPUTER SCIENCE -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Photran Developer Mailing List"
            updateInterval="5"
            updatePeriod="MINUTES"
            url="http://dev.eclipse.org/mhonarc/lists/photran-dev/maillist.rss">
      </feed>
      <!-- NEWS -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="BBC News World Edition"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://newsrss.bbc.co.uk/rss/newsonline_world_edition/front_page/rss.xml">
      </feed>
      <!-- ECLIPSE -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="EclipseZone News"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://www.eclipsezone.com/forumRSS/18112.xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="EclipseZone Tips"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://www.eclipsezone.com/forumRSS/18111.xml">
      </feed>
      <!-- ENTERTAINMENT -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Dilbert Blog"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://feedproxy.google.com/typepad/ihdT?format=xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="iTunes 25 Just Added Albums"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://phobos.apple.com/WebObjects/MZStore.woa/wpa/MRSS/justadded/limit=25/rss.xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NONE"
            create="false"
            title="GMail RSS Feed"
            updateInterval="1"
            updatePeriod="HOURS"
            url="https://gmail.google.com/gmail/feed/atom">
      </feed>
      <feed
            archivingDays="0"
            archivingItems="0"
            archivingMethod="KEEP_ALL"
            title="AVR Television"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://www.avrtv.com/wp-rss2-astudio.php">
      </feed>
      <feed
            archivingDays="0"
            archivingItems="0"
            archivingMethod="KEEP_ALL"
            title="Torkild&apos;s Blog"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://torkildr.blogspot.com/feeds/posts/default">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Atmel Finance News"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://finance.google.com/finance?morenews=10&amp;rating=1&amp;q=NASDAQ:ATML&amp;output=rss">
      </feed>
      <feed
            archivingDays="1"
            archivingItems="1"
            archivingMethod="KEEP_ALL"
            title="JW Player Example Media RSS"
            updateInterval="60"
            updatePeriod="DAYS"
            url="http://www.jeroenwijering.com/upload/mrss.xml">
      </feed>
      <feed
            archivingDays="1"
            archivingItems="1"
            archivingMethod="KEEP_NONE"
            title="YouTube Most Recent"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://gdata.youtube.com/feeds/base/standardfeeds/most_recent?alt=rss">
      </feed>
      <feed
            archivingDays="1"
            archivingItems="0"
            archivingMethod="KEEP_ALL"
            title="YouTube, user &quot;avrtvtube&quot;"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://www.youtube.com/rss/user/avrtvtube/videos.rss">
      </feed>
      <feed
            archivingDays="1"
            archivingItems="25"
            archivingMethod="KEEP_NEWEST"
            title="ESA Top Multimedia"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://www.esa.int/rss/TopMultimedia.xml">
      </feed>
      <feed
            archivingDays="1"
            archivingItems="30"
            archivingMethod="KEEP_NEWEST"
            title="NASA's Jet Propulsion Laboratory Podcasts"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://www.jpl.nasa.gov/multimedia/podcast/podfeed.xml">
						<description>High-definition (HD) videos from NASA's Jet Propulsion Laboratory feature the latest news on space and science findings from JPL and NASA. Topics include discoveries made by spacecraft studying planets in our solar system, including Mars, Saturn and our home planet, Earth. Missions also study stars and galaxies in our universe.</description>      
						</feed>
      <feed
            archivingDays="1"
            archivingItems="1"
            archivingMethod="KEEP_NONE"
            title="Monty Python (YouTube)"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://www.youtube.com/rss/user/montypython/videos.rss">
      </feed>
   </extension>
   <extension
         point="no.resheim.aggregator.core.ui.contentHandlers">
      <handler
            name="Document" type="text/html">
         <code>
            &lt;body style=&quot;margin:4px;font-family:&apos;${font-family}&apos;
            ;font-size:${font-size}pt&quot;&gt;${content}
&lt;/body&gt;
         </code>
      </handler>
      <handler
            name="Flash animation"
            suffix="swf"
            type="application/x-shockwave-flash">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;OBJECT classid=&quot;clsid:D27CDB6E-AE6D-11cf-96B8-444553540000&quot; codebase=&quot;http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0&quot;
WIDTH=&quot;100%&quot; HEIGHT=&quot;100%&quot;&gt;&lt;PARAM NAME=movie VALUE=&quot;${content}&quot;&gt;&lt;PARAM NAME=quality VALUE=high&gt;&lt;PARAM NAME=bgcolor VALUE=#FFFFFF&gt;&lt;EMBED src=&quot;${content}&quot; quality=high bgcolor=#FFFFFF WIDTH=&quot;100%&quot; HEIGHT=&quot;100%&quot;
TYPE=&quot;application/x-shockwave-flash&quot;
PLUGINSPAGE=&quot;http://www.macromedia.com/go/getflashplayer&quot;&gt;&lt;/EMBED&gt;&lt;/OBJECT&gt;&lt;/body&gt;
         </code>
      </handler>
      <handler
            name="Quicktime video" type="video/quicktime">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;object CLASSID=&quot;clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B&quot; width=&quot;100%&quot; height=&quot;100%&quot; CODEBASE=&quot;http://www.apple.com/qtactivex/qtplugin.cab&quot;&gt;
&lt;param name=&quot;src&quot; value=&quot;${content}&quot;&gt;
&lt;param name=&quot;autoplay&quot; value=&quot;true&quot;&gt;
&lt;param name=&quot;loop&quot; value=&quot;false&quot;&gt;
&lt;param name=&quot;controller&quot; value=&quot;true&quot;&gt;
&lt;embed src=&quot;${content}&quot;  width=&quot;100%&quot; height=&quot;100%&quot; autoplay=&quot;true&quot; loop=&quot;false&quot; controller=&quot;true&quot; pluginspage=&quot;http://www.apple.com/quicktime/&quot;&gt;&lt;/embed&gt;
&lt;/object&gt;
&lt;/body&gt;
         </code>
      </handler>
     
      <handler
            name="MPEG audio"
            suffix="mp3,mp4"
            type="audio/mpeg,audio/mp4,audio/mp3">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;object CLASSID=&quot;clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B&quot; width=&quot;100%&quot; height=&quot;100%&quot; CODEBASE=&quot;http://www.apple.com/qtactivex/qtplugin.cab&quot;&gt;
&lt;param name=&quot;src&quot; value=&quot;${content}&quot;&gt;
&lt;param name=&quot;autoplay&quot; value=&quot;true&quot;&gt;
&lt;param name=&quot;loop&quot; value=&quot;false&quot;&gt;
&lt;param name=&quot;controller&quot; value=&quot;true&quot;&gt;
&lt;embed src=&quot;${content}&quot;  width=&quot;100%&quot; height=&quot;100%&quot; autoplay=&quot;true&quot; loop=&quot;false&quot; controller=&quot;true&quot; pluginspage=&quot;http://www.apple.com/quicktime/&quot;&gt;&lt;/embed&gt;
&lt;/object&gt;
&lt;/body&gt;
         </code>
      </handler> 
      <!-- See http://www.rfc-editor.org/rfc/rfc4337.txt -->
      <handler
            name="MPEG Video"
            suffix="mpg,m4v,mpg4"
            type="video/mpeg,video/mp4,video/x-m4v">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;object CLASSID=&quot;clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B&quot; width=&quot;100%&quot; height=&quot;100%&quot; CODEBASE=&quot;http://www.apple.com/qtactivex/qtplugin.cab&quot;&gt;
&lt;param name=&quot;src&quot; value=&quot;${content}&quot;&gt;
&lt;param name=&quot;autoplay&quot; value=&quot;true&quot;&gt;
&lt;param name=&quot;loop&quot; value=&quot;false&quot;&gt;
&lt;param name=&quot;controller&quot; value=&quot;true&quot;&gt;
&lt;embed src=&quot;${content}&quot;  width=&quot;100%&quot; height=&quot;100%&quot; autoplay=&quot;true&quot; loop=&quot;false&quot; TYPE=&quot;video/mp4&quot; controller=&quot;true&quot; pluginspage=&quot;http://www.apple.com/quicktime/&quot;&gt;&lt;/embed&gt;
&lt;/object&gt;
&lt;/body&gt;
         </code>
      </handler>
      <handler
            name="JPEG image"
            suffix="jpg,jpeg"
            type="image/jpeg">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;img src=&quot;${content}&quot; width=&quot;100%&quot; /&gt;
&lt;/html&gt;
         </code>
      </handler>
      <handler
            name="PDF Document"
            suffix="pdf"
            type="application/pdf">
         <code>
            &lt;body style=&quot;margin:0px;&quot;&gt;
&lt;object CLASSID=&quot;clsid:CA8A9780-280D-11CF-A24D-444553540000&quot; width=&quot;100%&quot; height=&quot;100%&quot;&gt;
&lt;param name=&quot;pdf&quot; value=&quot;${content}&quot;&gt;
&lt;embed src=&quot;${content}&quot;  width=&quot;100%&quot; height=&quot;100%&quot; TYPE=&quot;application/pdf&quot; &gt;&lt;/embed&gt;
&lt;/object&gt;
&lt;/body&gt;
         </code>
      </handler>
   </extension>
   <extension
         point="no.resheim.aggregator.core.feeds">

      <catalog
            class="no.resheim.aggregator.core.ui.catalog.DeclaredFeedsCatalog"
            icon="icons/obj16/catalog.gif"
            id="no.resheim.aggregator.declaredFeedsCatalog"
            interactive="false"
            name="Built-in">
      </catalog>   </extension>
   
</plugin>
