<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="no.resheim.aggregator.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="no.resheim.aggregator.rcp.Perspective"
            fixed="true"
            id="no.resheim.aggregator.application.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="no.resheim.aggregator.rcp.application"
            name="Muninn">
         <property
               name="windowImages"
               value="icons/aggregator_window_16.png,icons/aggregator_window_32.png,icons/aggregator_window_48.png,icons/aggregator_window_64.png,icons/aggregator_window_128.png">
         </property>
         <property
               name="appName"
               value="Muninn">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New..."
                  mnemonic="N"
                  style="push">
            </command>
            <command
                  commandId="no.resheim.aggregator.core.ui.openFilterProperties"
                  label="Filters"
                  mnemonic="i"
                  style="push">
            </command>
            <separator
                  name="no.resheim.aggregator.rcp.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="window"
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  mnemonic="P"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="no.resheim.aggregator.rcp.splashHandlers.ExtensibleSplashHandler"
            id="no.resheim.aggregator.rcp.splashHandlers.extensible">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:colorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="Colors and Fonts">
         <keywordReference
               id="org.eclipse.ui.ide.appearance">
         </keywordReference>
         <keywordReference
               id="org.eclipse.ui.ide.themes">
         </keywordReference>
      </page>
   </extension>
</plugin>
