<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="no.resheim.aggregator.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="no.resheim.aggregator.rcp.Perspective"
            fixed="true"
            id="no.resheim.aggregator.application.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="no.resheim.aggregator.rcp.application"
            name="Resheim Aggregator">
         <property
               name="windowImages"
               value="icons/aggregator_window_16.png,icons/aggregator_window_32.png,icons/aggregator_window_48.png,icons/aggregator_window_64.png,icons/aggregator_window_128.png">
         </property>
         <property
               name="appName"
               value="Resheim Aggregator">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="file"
               label="File">
            <command
                  commandId="no.resheim.aggregator.core.ui.addFeed"
                  label="New Feed"
                  style="push">
            </command>
            <command
                  commandId="no.resheim.aggregator.core.ui.openFilterProperties"
                  label="Filters"
                  style="push">
            </command>
            <separator
                  name="no.resheim.aggregator.rcp.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="window"
               label="Window">
            <menu
                  label="Layout">
               <command
                     commandId="no.resheim.aggregator.core.ui.setLayoutCommand"
                     label="Vertical"
                     style="radio">
                  <parameter
                        name="no.resheim.aggregator.core.ui.layoutCommandParameter"
                        value="vertical">
                  </parameter>
               </command>
               <command
                     commandId="no.resheim.aggregator.core.ui.setLayoutCommand"
                     label="Horizontal"
                     style="radio">
                  <parameter
                        name="no.resheim.aggregator.core.ui.layoutCommandParameter"
                        value="horizontal">
                  </parameter>
               </command>
            </menu>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="no.resheim.aggregator.rcp.splashHandlers.ExtensibleSplashHandler"
            id="no.resheim.aggregator.rcp.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="no.resheim.aggregator.rcp.product"
            splashId="no.resheim.aggregator.rcp.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
</plugin>
