<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="no.resheim.aggregator.google.reader.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="no.resheim.aggregator.ui.preferences.general"
            class="no.resheim.aggregator.google.reader.ui.GooglePreferencePage"
            id="no.resheim.aggregator.core.google.page"
            name="Google Reader Integration">
      </page>
   </extension>
   <extension
         point="no.resheim.aggregator.core.feeds">
      <catalog
            class="no.resheim.aggregator.google.reader.GoogleReaderFeedCatalog"
            icon="icons/google-reader.gif"
            id="no.resheim.aggregator.googleReaderCatalog"
            interactive="true"
            name="Google Reader"
            supportsAuthentication="false"
            synchronizer="no.resheim.aggregator.google.reader.synchronizer">
      </catalog>
      <synchronizer
            class="no.resheim.aggregator.google.reader.GoogleReaderSynchronizer"
            id="no.resheim.aggregator.google.reader.synchronizer">
      </synchronizer>
   </extension>

</plugin>
