<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="feeds" name="Aggregator Feeds" schema="schema/feeds.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
         class="no.resheim.aggregator.core.AggregatorPropertyTester"
         id="no.resheim.aggregator.propertyTester"
         namespace="no.resheim.aggregator"
         properties="multipleCollections,systemFolder"
         type="java.util.Collections$EmptyList">
   </propertyTester>
   </extension>
</plugin>
