<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="no.resheim.aggregator.core.ui.RSSView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:no.resheim.aggregator.core.ui.RSSView?after=additions">
         <menu
               label="Layout">
            <command
                  commandId="no.resheim.aggregator.core.ui.setLayoutCommand"
                  label="Vertical"
                  style="radio">
               <parameter
                     name="no.resheim.aggregator.core.ui.layoutCommandParameter"
                     value="vertical">
               </parameter>
            </command>
            <command
                  commandId="no.resheim.aggregator.core.ui.setLayoutCommand"
                  label="Horizontal"
                  style="radio">
               <parameter
                     name="no.resheim.aggregator.core.ui.layoutCommandParameter"
                     value="horizontal">
               </parameter>
            </command>
         </menu>
         <menu
               label="Collections">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="no.resheim.aggregator.multipleCollections">
               </test>
            </visibleWhen>
            <dynamic
                  class="no.resheim.aggregator.core.ui.commands.FeedCollectionMenu"
                  id="no.resheim.aggregator.ui.dynamic">
            </dynamic>
         </menu>
         <command
               commandId="no.resheim.aggregator.core.ui.openFilterProperties"
               label="Filters"
               style="push">
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.collapseAll"
               label="Collapse All"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
