<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            allowMultiple="false"
            class="no.resheim.aggregator.ui.views.RSSView"
            icon="icons/feed-icon-16x16.png"
            id="no.resheim.aggregator.ui.RSSView"
            name="Aggregator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="no.resheim.aggregator.ui.RSSView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:no.resheim.aggregator.ui.RSSView?after=additions">
         <command
               commandId="no.resheim.aggregator.core.ui.addFeed"
               label="Add Feed">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:no.resheim.aggregator.ui.RSSView?after=additions">
         <menu
               label="Collections">
            <dynamic
                  class="no.resheim.aggregator.core.ui.commands.FeedCollectionMenu"
                  id="no.resheim.aggregator.ui.dynamic">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.ui.RSSView?before=selection">
         <command
               commandId="no.resheim.aggregator.core.ui.addFeed"
               label="Add Feed">
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.newFolder"
               label="Add Folder">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.ui.RSSView?after=selection">
         <command
               commandId="no.resheim.aggregator.core.ui.update"
               label="Update">
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.delete"
               label="Delete">
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.properties"
               label="Properties">
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.setRead"
               label="Mark As Read">
         </command>
      </menuContribution>
   </extension>

</plugin>
