<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ui"
            allowMultiple="false"
            class="no.resheim.aggregator.ui.views.RSSView"
            icon="icons/view.gif"
            id="no.resheim.aggregator.ui.RSSView"
            name="News Feeds">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="no.resheim.aggregator.ui.RSSView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="no.resheim.aggregator.ui.views.NextUnreadItemCommandHandler"
            id="no.resheim.aggregator.ui.nextUnread"
            name="Next Unread">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="no.resheim.aggregator.ui.context"
            name="Aggregator View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="no.resheim.aggregator.ui.nextUnread"
            contextId="no.resheim.aggregator.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+.">
      </key>
      <key
            commandId="no.resheim.aggregator.core.ui.delete"
            contextId="no.resheim.aggregator.ui.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:no.resheim.aggregator.ui.RSSView?after=additions">
         <command
               commandId="no.resheim.aggregator.core.ui.collapseAll"
               label="Collapse All"
               style="push">
         </command>
         <separator
               name="no.resheim.aggregator.ui.separator1"
               visible="true">
         </separator>
         <command
               commandId="no.resheim.aggregator.core.ui.addFeed"
               label="New Feed"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:no.resheim.aggregator.ui.RSSView?after=additions">
         <menu
               label="Collections">
            <visibleWhen
                  checkEnabled="false">
               <test
                     forcePluginActivation="true"
                     property="no.resheim.aggregator.multipleCollections">
               </test>
            </visibleWhen>
            <dynamic
                  class="no.resheim.aggregator.core.ui.commands.FeedCollectionMenu"
                  id="no.resheim.aggregator.ui.dynamic">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.ui.RSSView?after=navigation">
         <command
               commandId="no.resheim.aggregator.ui.nextUnread"
               label="Next Unread">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.ui.RSSView?after=modify">
         <command
               commandId="no.resheim.aggregator.core.ui.newFolder"
               label="New Folder">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.renameFolder"
               label="Rename">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.delete"
               label="Delete">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.emptyTrash"
               label="Empty Trash">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:no.resheim.aggregator.ui.RSSView?after=selection">
         <command
               commandId="no.resheim.aggregator.core.ui.update"
               label="Update">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.setRead"
               label="Mark As Read">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="no.resheim.aggregator.core.ui.copyLinkCommand"
               label="Copy Link Location"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <separator
               name="properties"
               visible="true">
         </separator>
         <command
               commandId="no.resheim.aggregator.core.ui.properties"
               label="Properties">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="no.resheim.aggregator.core.feeds">
      <collection
            default="true"
            id="no.resheim.aggregator.ui.defaultFeedCollection"
            name="Default"
            public="true"
            persistent="true">
      </collection>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Linux Journal"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://www.linuxjournal.com/node/feed">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="AVR Freaks Forums"
            updateInterval="10"
            updatePeriod="MINUTES"
            url="http://www.avrfreaks.net/forumrss.php">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="true"
            title="Resheim Software News"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://resheim.no/news/RSS">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Planet Eclipse Blogs"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://planeteclipse.org/planet/rss20.xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="SlashDot"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://rss.slashdot.org/Slashdot/slashdot">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="ECF Developer Mailing List"
            updateInterval="5"
            updatePeriod="MINUTES"
            url="http://dev.eclipse.org/mhonarc/lists/ecf-dev/maillist.rss">
      </feed>
      <!-- GENERAL COMPUTER SCIENCE -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Photran Developer Mailing List"
            updateInterval="5"
            updatePeriod="MINUTES"
            url="http://dev.eclipse.org/mhonarc/lists/photran-dev/maillist.rss">
      </feed>
      <!-- NEWS -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="BBC News World Edition"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://newsrss.bbc.co.uk/rss/newsonline_world_edition/front_page/rss.xml">
      </feed>
      <!-- ECLIPSE -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="EclipseZone News"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://www.eclipsezone.com/forumRSS/18112.xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="EclipseZone Tips"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://www.eclipsezone.com/forumRSS/18111.xml">
      </feed>
      <!-- ENTERTAINMENT -->
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="Dilbert Blog"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://feedproxy.google.com/typepad/ihdT?format=xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NEWEST"
            create="false"
            title="iTunes 25 Just Added Albums"
            updateInterval="1"
            updatePeriod="HOURS"
            url="http://phobos.apple.com/WebObjects/MZStore.woa/wpa/MRSS/justadded/limit=25/rss.xml">
      </feed>
      <feed
            archivingDays="30"
            archivingItems="0"
            archivingMethod="KEEP_NONE"
            create="false"
            title="GMail RSS Feed"
            updateInterval="1"
            updatePeriod="HOURS"
            url="https://gmail.google.com/gmail/feed/atom">
      </feed>
      <feed
            archivingDays="0"
            archivingItems="0"
            archivingMethod="KEEP_ALL"
            title="AVR Television"
            updateInterval="1"
            updatePeriod="DAYS"
            url="http://www.youtube.com/rss/user/avrtvtube/videos.rss">
      </feed>
   </extension>

</plugin>
