<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="no.resheim.aggregator.core.feeds">
      <collection
            default="true"
            id="no.resheim.aggregator.core.test.collection.persistent"
            name="Persistent Test Collection"
            persistent="true"
            public="true">
      </collection>
      <collection
            default="false"
            id="no.resheim.aggregator.core.test.collection.volatile"
            name="Volatile Test Collection"
            persistent="false"
            public="true">
      </collection>
   </extension>

</plugin>
